{% extends "base.html" %}

{% block content %}


<div class="main">
    <div class="container2">
   
    
      {% for junction in junction_list %}
      
        <div class="plate">
          <p>Junction : <strong>{{junction.corr}}-{{junction.mark}}</strong></p>
          <p>Status : <strong>{{junction.status}}</strong></p>
              <div class="last-line">
                <a href="{% url 'junc:detail' pk=junction.pk %}">detalji</a>
                <a href="{% url 'junc:update' pk=junction.pk %}">izmeni</a>
              </div>
        </div>
      {% endfor %}
    </div>
    <div class="side">
      <div class="desc">
          <div class="tit">
          <h2><u>List All</u></h2>
          </div>
          <h2>Count</h2>
          <p>Pun Rezim : <strong>{{ pr }}</strong></p>
          <p>Part Time : <strong>{{ pt }}</strong></p>
          <p>Nema Struje : <strong>{{ ns }}</strong></p>
          <p>Iskljucena : <strong>{{ isk }}</strong></p>
       
      </div>
</div>


  
{% endblock content %}