body{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: rgba(247, 246, 250, 0.92);
}



h1, h2{
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

/* .last-line{
    display: flex;
    font-size: small;
    align-items: flex-start;
    justify-content: space-evenly;
} */

.main {
    display: flex;
    flex-direction: row;
    margin-left: 10%; 
    font-size: 1em; 
    padding: 50px 10px;
}



.side {
    max-width: 250px;
    position: fixed;
    z-index: 1;
    font-size: 1.3em;
    top: 120px;
    left: 10px;
    background: rgb(192, 123, 11);
    color: rgb(255, 255, 255);  
    overflow-x: hidden;
    padding: 10px 15px;
    padding-right: 80px;
    border-radius: 10px;

    
}

.side h2{
    font-size: 2em;
}

.side a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #2196F1;
    display: block;

    
}
  
.side a:hover {
    color: #064579;
}

.plate {
    background: #84a1c11a;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 15px;
    width: 200px;
    max-height: 140px;
    margin: 0.5em;
    border-bottom: 4px solid rgba(98, 96, 96, 0.27);
}

.container2{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.container2 .plate {
    position: relative;
    margin: 5px;
}



.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.button1 {
    background: rgb(214, 139, 18);
    color: rgb(255, 255, 255);  
    padding: 7px;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    max-width: 140;
    max-height: 40px;
    margin: 0.7em;
    border-radius: 7px;
    border-bottom: 4px solid rgba(154, 113, 86, 0.931);
    
}

.button1 :hover {
    color: #064579;
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    background: rgb(3, 3, 53);
    color: white;  
    height: 60px;
}

.navbar .logo{
    font-size: 3em;
    font-weight: bold;

}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}

.navbar a:hover{
    color: rgb(131, 192, 213);
     
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
}



@media(max-width:768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .side {
        position: absolute;
        z-index: -2;
        scale: 0.5;
        padding-right: 10px;
        flex-direction: column;
        overflow-x: auto;
        font-size: 0.85em;
       
    }
}
