{% extends "base.html" %}


{% block content %}

<div class="main">
<div class="container">
<h1>Welcome to Junction App</h1>
<p>ovo je index str btw...</p>

<ol>
    <li>Uradi details</li>
    <li>Uradi update</li>
    <li>Uradi validaciju imena - kor-mark</li>
    <li>Skini one nule</li>
    <li>Uradi Flex za LstAll</li>
    <li>Uradi Formu za Unos nove manuelno</li>
    <li>Uradi Formu za unos xls import</li>
    <li>Uradi brojanje i procentualne prikaze</li>
    <li>I ono, neki donut prikaz...</li>

</ol>
</div>
</div>


{% endblock content %}
    